---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID/errors/BUGSNAG_ERROR_ID/comments
    body:
      encoding: UTF-8
      string: '{"message":"message"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      X-Bugsnag-Api:
      - 'true'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.bugsnag.com/comments/5a2fc39bd1befa003981d5c0
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b84a9d3934d1eba2cff0252234149c26"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"id":"5a2fc39bd1befa003981d5c0","message":"message","created_at":"2017-12-12T11:55:07.000Z","collaborator":{"id":"5a1589f0d1befa47553ffd5f","name":"Bugsnag","email":"BUGSNAG_USER_EMAIL","two_factor_enabled":false,"two_factor_enabled_on":null,"BUGSNAG_PASSWORD_updated_on":"2017-12-06T16:40:04.011Z","show_time_in_utc":true,"projects_url":"https://api.bugsnag.com/users/5a1589f0d1befa47553ffd5f/projects","heroku":false,"recovery_codes_remaining":0}}'
  recorded_at: Tue, 12 Dec 2017 11:54:56 GMT
- request:
    method: get
    uri: https://api.bugsnag.com/comments/5a2fc39bd1befa003981d5c0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      X-Bugsnag-Api:
      - 'true'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9394de93d9d8fe007ab97f2df6714c4e"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"id":"5a2fc39bd1befa003981d5c0","message":"message","created_at":"2017-12-12T11:55:07.000Z","user":{"id":"5a1589f0d1befa47553ffd5f","email":"BUGSNAG_USER_EMAIL","name":"Bugsnag","url":"https://api.bugsnag.com/users/5a1589f0d1befa47553ffd5f","projects_url":"https://api.bugsnag.com/users/5a1589f0d1befa47553ffd5f/projects"},"url":"https://api.bugsnag.com/comments/5a2fc39bd1befa003981d5c0"}'
  recorded_at: Tue, 12 Dec 2017 11:54:56 GMT
recorded_with: VCR 2.9.3
