---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID/errors/BUGSNAG_ERROR_ID/comments
    body:
      encoding: UTF-8
      string: '{"message":"message"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.bugsnag.com/comments/59db8655901da000251e93bb
      Etag:
      - W/"55202f7fc2a2819fe15e3dbd75f74f18"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '3'
    body:
      encoding: UTF-8
      string: '{"id":"59db8655901da000251e93bb","message":"message","created_at":"2017-10-09T14:23:17.000Z","collaborator":{"id":"59ae67b68a0558001a351bcb","name":"AlexTestsM","email":"BUGSNAG_USER_EMAIL","two_factor_enabled":false,"two_factor_enabled_on":null,"password_updated_on":"2017-09-05T09:04:10.936Z","show_time_in_utc":true,"projects_url":"https://api.bugsnag.com/users/59ae67b68a0558001a351bcb/projects","heroku":false,"recovery_codes_remaining":0}}'
  recorded_at: Mon, 09 Oct 2017 14:23:16 GMT
- request:
    method: get
    uri: https://api.bugsnag.com/comments/59db8655901da000251e93bb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b73360ee8c7437614487b331880c2394"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59db8655901da000251e93bb","message":"message","created_at":"2017-10-09T14:23:17.000Z","user":{"id":"59ae67b68a0558001a351bcb","email":"BUGSNAG_USER_EMAIL","name":"AlexTestsM","url":"https://api.bugsnag.com/users/59ae67b68a0558001a351bcb","projects_url":"https://api.bugsnag.com/users/59ae67b68a0558001a351bcb/projects"},"url":"https://api.bugsnag.com/comments/59db8655901da000251e93bb"}'
  recorded_at: Mon, 09 Oct 2017 14:23:16 GMT
recorded_with: VCR 2.9.3
