---
http_interactions:
- request:
    method: get
    uri: https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID/BUGSNAG_EVENTFIELD_IDs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Total-Count:
      - '1'
      Etag:
      - W/"09dc7566b3c9faca9277a2e53d40596b"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BUGSNAG_ERROR_ID","project_id":"BUGSNAG_PROJECT_ID","BUGSNAG_EVENTFIELD_ID_class":"RuntimeError","message":"RuntimeError","context":"(irb):7","severity":"warning","original_severity":"warning","overridden_severity":null,"events":1,"unthrottled_occurrence_count":1,"users":0,"first_seen":"2017-10-05T10:39:01.000Z","last_seen":"2017-10-05T10:39:01.000Z","first_seen_unfiltered":"2017-10-05T10:39:01.000Z","last_seen_unfiltered":"2017-10-05T10:39:01.041Z","status":"fixed","created_issue":{},"reopen_rules":null,"assigned_collaborator_id":null,"comment_count":1,"missing_dsyms":[],"release_stages":["production"],"grouping_reason":"frame-inner","grouping_fields":{"file":"(irb)","lineNumber":7,"BUGSNAG_EVENTFIELD_IDClass":"RuntimeError"},"url":"https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID/BUGSNAG_EVENTFIELD_IDs/BUGSNAG_ERROR_ID","project_url":"https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID"}]'
  recorded_at: Mon, 09 Oct 2017 10:27:00 GMT
recorded_with: VCR 2.9.3
