---
http_interactions:
- request:
    method: get
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - Basic YWxleCt0ZXN0QGJ1Z3NuYWcuY29tOkNvc21vcG9saXRhblBlYXNlbnQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Total-Count:
      - '18'
      Etag:
      - W/"e5c6f99d8acfbec5b17aaae01844b459"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"59db8594562ced002210765c","slug":"testproject-21","name":"testProject","api_key":"384434dd535d5358f7386e399ec2007f","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-10-09T14:20:04.766Z","updated_at":"2017-10-09T14:20:04.766Z","errors_url":"https://api.bugsnag.com/projects/59db8594562ced002210765c/errors","events_url":"https://api.bugsnag.com/projects/59db8594562ced002210765c/events","url":"https://api.bugsnag.com/projects/59db8594562ced002210765c","html_url":"https://app.bugsnag.com/testorg-6/testproject-21","open_error_count":0,"collaborators_count":3,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false},{"id":"59db8593c1951b0026d5a316","slug":"othername-3","name":"otherName","api_key":"7e3bd84a2d0fc1ea9585561dcef8ba1b","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-10-09T14:20:03.469Z","updated_at":"2017-10-09T14:20:04.180Z","errors_url":"https://api.bugsnag.com/projects/59db8593c1951b0026d5a316/errors","events_url":"https://api.bugsnag.com/projects/59db8593c1951b0026d5a316/events","url":"https://api.bugsnag.com/projects/59db8593c1951b0026d5a316[...]
