---
http_interactions:
- request:
    method: get
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - Basic ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Total-Count:
      - '13'
      Etag:
      - W/"5419f76979da824fe1bd890d419fdd86"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"59b01cc9d0e0b8001972ba0b","slug":"testproject-15","name":"testProject","api_key":"e3224debefc9fc1ee170e9e80877fdd3","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-09-06T16:05:29.230Z","updated_at":"2017-09-06T16:05:29.230Z","BUGSNAG_EVENTFIELD_IDs_url":"https://api.bugsnag.com/projects/59b01cc9d0e0b8001972ba0b/BUGSNAG_EVENTFIELD_IDs","events_url":"https://api.bugsnag.com/projects/59b01cc9d0e0b8001972ba0b/events","url":"https://api.bugsnag.com/projects/59b01cc9d0e0b8001972ba0b","html_url":"https://app.bugsnag.com/testorg-6/testproject-15","open_BUGSNAG_EVENTFIELD_ID_count":0,"collaborators_count":3,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_BUGSNAG_EVENTFIELD_IDs":[],"custom_event_fields_used":0,"resolve_on_deploy":false},{"id":"59b01cc540ab4d001dea69ff","slug":"testproject-13","name":"testProject","api_key":"b43cbea20e163b5c2a51971c3e913ae0","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-09-06T16:05:25.920Z","updated_at":"2017-09-06T16:05:27.105Z","BUGSNAG_EVENTFIELD_IDs_url":"https://api.bugsnag.com/projects/59b01cc540ab4d001dea69ff/BUGSNAG_EVENTFIELD_IDs","events_url":"https://api.bugsnag.com/projects/59b01cc540ab4d001dea69ff/events","url":"https://api.bugsnag.[...]
