---
http_interactions:
- request:
    method: post
    uri: http://<BUGSNAG_LOGIN>:<BUGSNAG_PASSWORD>@api.bugsnag.com/accounts/<BUGSNAG_ACCOUNT_ID>/projects
    body:
      encoding: UTF-8
      string: '{"name":"Example"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.bugsnag.com/projects/5405303d646573a55900001c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"46abfc9ce482fc5089cd1d891ffcb1ae"'
    body:
      encoding: UTF-8
      string: '{"id":"5405303d646573a55900001c","name":"Example","type":"other","created_at":"2014-09-02T02:49:33.596Z","updated_at":"2014-09-02T02:49:33.596Z","release_stages":[],"api_key":"ada3e64667cad729b8077bccec86e8be","errors":0,"url":"https://api.bugsnag.com/projects/5405303d646573a55900001c","errors_url":"https://api.bugsnag.com/projects/5405303d646573a55900001c/errors","events_url":"https://api.bugsnag.com/projects/5405303d646573a55900001c/events","html_url":"http://bugsnag.dev/<BUGSNAG_ACCOUNT_ID>/example-45","icon":"http://bugsnag.dev/assets/frameworks/other.png"}'
  recorded_at: Tue, 02 Sep 2014 02:49:33 GMT
- request:
    method: patch
    uri: http://<BUGSNAG_LOGIN>:<BUGSNAG_PASSWORD>@api.bugsnag.com/projects/5405303d646573a55900001c
    body:
      encoding: UTF-8
      string: '{"name":"New project name"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"548747dbad561d14be17b91007391b8c"'
    body:
      encoding: UTF-8
      string: '{"id":"5405303d646573a55900001c","name":"New project name","type":"other","created_at":"2014-09-02T02:49:33.596Z","updated_at":"2014-09-02T02:49:33.738Z","release_stages":[],"api_key":"ada3e64667cad729b8077bccec86e8be","errors":0,"url":"https://api.bugsnag.com/projects/5405303d646573a55900001c","errors_url":"https://api.bugsnag.com/projects/5405303d646573a55900001c/errors","events_url":"https://api.bugsnag.com/projects/5405303d646573a55900001c/events","html_url":"http://bugsnag.dev/<BUGSNAG_ACCOUNT_ID>/new-project-name-9","icon":"http://bugsnag.dev/assets/frameworks/other.png"}'
  recorded_at: Tue, 02 Sep 2014 02:49:33 GMT
recorded_with: VCR 2.9.2
