---
http_interactions:
- request:
    method: get
    uri: https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID/errors/BUGSNAG_ERROR_ID/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      X-Bugsnag-Api:
      - 'true'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Total-Count:
      - '475'
      Link:
      - <https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID/errors/BUGSNAG_ERROR_ID/events?base=2017-12-12T11%3A55%3A27Z&offset%5Bcount%5D=63&offset%5Btimestamp%5D=2017-12-12T10%3A58%3A54Z&offset%5Btotal_count%5D=475>;
        rel="next"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e94b7a2ddd6f502ddf1d2d3e4ca7e94b"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '[{"id":"BUGSNAG_EVENT_ID","url":"https://api.bugsnag.com/events/BUGSNAG_EVENT_ID","project_url":"https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID","is_full_report":false,"error_id":"BUGSNAG_ERROR_ID","receivedAt":"2017-12-12T10:58:55.000Z","exceptions":[{"errorClass":"RuntimeError","message":"Error"}],"severity":"warning","context":"/Users/amoinet/Desktop/libraries/bugsnag-ruby/test.rb:34","unhandled":false,"app":{"releaseStage":"production"}},{"id":"5a2fb66f5d55e9007116e96e","url":"https://api.bugsnag.com/events/5a2fb66f5d55e9007116e96e","project_url":"https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID","is_full_report":false,"error_id":"BUGSNAG_ERROR_ID","receivedAt":"2017-12-12T10:58:55.000Z","exceptions":[{"errorClass":"RuntimeError","message":"Error"}],"severity":"warning","context":"/Users/amoinet/Desktop/libraries/bugsnag-ruby/test.rb:34","unhandled":false,"app":{"releaseStage":"production"}},{"id":"5a2fb66f5d55[...]
