---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID/errors/BUGSNAG_ERROR_ID/comments
    body:
      encoding: UTF-8
      string: '{"message":"message"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.bugsnag.com/comments/59db8652c636d200228adcd7
      Etag:
      - W/"6b43066c9c3209cae0f8ed7edfc9e604"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
    body:
      encoding: UTF-8
      string: '{"id":"59db8652c636d200228adcd7","message":"message","created_at":"2017-10-09T14:23:14.000Z","collaborator":{"id":"59ae67b68a0558001a351bcb","name":"AlexTestsM","email":"BUGSNAG_USER_EMAIL","two_factor_enabled":false,"two_factor_enabled_on":null,"password_updated_on":"2017-09-05T09:04:10.936Z","show_time_in_utc":true,"projects_url":"https://api.bugsnag.com/users/59ae67b68a0558001a351bcb/projects","heroku":false,"recovery_codes_remaining":0}}'
  recorded_at: Mon, 09 Oct 2017 14:23:13 GMT
- request:
    method: get
    uri: https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID/errors/BUGSNAG_ERROR_ID/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Total-Count:
      - '2'
      Etag:
      - W/"02d442c6ef711d6998a0f57edb8371d8"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"59db8652c636d200228adcd7","message":"message","created_at":"2017-10-09T14:23:14.000Z","collaborator":{"id":"59ae67b68a0558001a351bcb","name":"AlexTestsM","email":"BUGSNAG_USER_EMAIL","two_factor_enabled":false,"two_factor_enabled_on":null,"password_updated_on":"2017-09-05T09:04:10.936Z","show_time_in_utc":true,"projects_url":"https://api.bugsnag.com/users/59ae67b68a0558001a351bcb/projects","heroku":false,"recovery_codes_remaining":0}},{"id":"59db85eec636d200228adcd4","message":"updated","created_at":"2017-10-09T14:21:34.000Z","collaborator":{"id":"59ae67b68a0558001a351bcb","name":"AlexTestsM","email":"BUGSNAG_USER_EMAIL","two_factor_enabled":false,"two_factor_enabled_on":null,"password_updated_on":"2017-09-05T09:04:10.936Z","show_time_in_utc":true,"projects_url":"https://api.bugsnag.com/users/59ae67b68a0558001a351bcb/projects","heroku":false,"recovery_codes_remaining":0}}]'
  recorded_at: Mon, 09 Oct 2017 14:23:13 GMT
recorded_with: VCR 2.9.3
