---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/projects
    body:
      encoding: UTF-8
      string: '{"name":"testProject","type":"other"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      X-Bugsnag-Api:
      - 'true'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e94ed6494dc2680a7e5e80bfcb8fb1ee"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"id":"5a2fc37cd1befa003981d5b3","slug":"testproject-6","name":"testProject","api_key":"5329778c8dafb6b594f3aab77dab3089","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-12-12T11:54:36.671Z","updated_at":"2017-12-12T11:54:36.671Z","errors_url":"https://api.bugsnag.com/projects/5a2fc37cd1befa003981d5b3/errors","events_url":"https://api.bugsnag.com/projects/5a2fc37cd1befa003981d5b3/events","url":"https://api.bugsnag.com/projects/5a2fc37cd1befa003981d5b3","html_url":"https://api.bugsnag.com/bugsnag/testproject-6","open_error_count":0,"collaborators_count":2,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Tue, 12 Dec 2017 11:54:25 GMT
- request:
    method: delete
    uri: https://api.bugsnag.com/projects/5a2fc37cd1befa003981d5b3
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      X-Bugsnag-Api:
      - 'true'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 12 Dec 2017 11:54:26 GMT
recorded_with: VCR 2.9.3
