---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/projects
    body:
      encoding: UTF-8
      string: '{"name":"testProject","type":"other"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"38f18a7425e71222d55f823df81196b2"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59db8591901da0001b1eb516","slug":"testproject-19","name":"testProject","api_key":"7d4b8ece0f1cc1f134117ff52a6114ac","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-10-09T14:20:02.028Z","updated_at":"2017-10-09T14:20:02.028Z","errors_url":"https://api.bugsnag.com/projects/59db8591901da0001b1eb516/errors","events_url":"https://api.bugsnag.com/projects/59db8591901da0001b1eb516/events","url":"https://api.bugsnag.com/projects/59db8591901da0001b1eb516","html_url":"https://app.bugsnag.com/testorg-6/testproject-19","open_error_count":0,"collaborators_count":3,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Mon, 09 Oct 2017 14:20:01 GMT
- request:
    method: delete
    uri: https://api.bugsnag.com/projects/59db8591901da0001b1eb516
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '6'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 09 Oct 2017 14:20:01 GMT
recorded_with: VCR 2.9.3
