---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/projects
    body:
      encoding: UTF-8
      string: '{"name":"testProject","type":"other"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"78ea619eab0cf47c071cdbbb0702447e"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59b01cc75710a800203836ff","slug":"testproject-14","name":"testProject","api_key":"82bba7dd7a222bb1e9731219b8950dc5","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-09-06T16:05:27.886Z","updated_at":"2017-09-06T16:05:27.886Z","errors_url":"https://api.bugsnag.com/projects/59b01cc75710a800203836ff/errors","events_url":"https://api.bugsnag.com/projects/59b01cc75710a800203836ff/events","url":"https://api.bugsnag.com/projects/59b01cc75710a800203836ff","html_url":"https://app.bugsnag.com/testorg-6/testproject-14","open_error_count":0,"collaborators_count":2,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Wed, 06 Sep 2017 16:05:28 GMT
- request:
    method: delete
    uri: https://api.bugsnag.com/projects/59b01cc75710a800203836ff
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '2'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 06 Sep 2017 16:05:28 GMT
recorded_with: VCR 2.9.3
