---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/collaborators
    body:
      encoding: UTF-8
      string: '{"project_ids":["BUGSNAG_PROJECT_ID"],"email":"BUGSNAG_COLLABORATOR_EMAIL"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3c0e18d6b01a226db3486bdb052337e5"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59afc14140ab4d001de9d7f0","name":null,"email":"BUGSNAG_COLLABORATOR_EMAIL","two_factor_enabled":false,"two_factor_enabled_on":null,"password_updated_on":"2017-09-06T09:34:57.068Z","show_time_in_utc":true,"projects_url":"https://api.bugsnag.com/users/59afc14140ab4d001de9d7f0/projects","heroku":false,"recovery_codes_remaining":0,"is_admin":true,"pending_invitation":true,"last_request_at":null,"project_ids":["BUGSNAG_PROJECT_ID","59afb2f8d0e0b8001971def9","59afb2fad0e0b8001e71e05f","59afb2fbbf058b001e55ef61","59afc13ebf058b001e56358a","59afc168bf058b0023562dae"],"paid_for":false}'
  recorded_at: Wed, 06 Sep 2017 10:29:33 GMT
- request:
    method: get
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/collaborators/59afc14140ab4d001de9d7f0/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Total-Count:
      - '6'
      Etag:
      - W/"8ab3c544513877351b0bb77dc191ffab"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"59afc168bf058b0023562dae","slug":"testproject-6","name":"testProject","api_key":"de2d6996fd37e52179e58c4f41aad643","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-09-06T09:35:36.689Z","updated_at":"2017-09-06T09:35:36.689Z","errors_url":"https://api.bugsnag.com/projects/59afc168bf058b0023562dae/errors","events_url":"https://api.bugsnag.com/projects/59afc168bf058b0023562dae/events","url":"https://api.bugsnag.com/projects/59afc168bf058b0023562dae","html_url":"https://app.bugsnag.com/testorg-6/testproject-6","open_error_count":0,"collaborators_count":3,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false},{"id":"59afc13ebf058b001e56358a","slug":"testproject-5","name":"testProject","api_key":"54fcc98509c087b247ca8e57d85daa17","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-09-06T09:34:54.394Z","updated_at":"2017-09-06T09:34:54.394Z","errors_url":"https://api.bugsnag.com/projects/59afc13ebf058b001e56358a/errors","events_url":"https://api.bugsnag.com/projects/59afc13ebf058b001e56358a/events","url":"https://api.bugsnag.com/projects/59afc13ebf058b001e56[...]
