---
http_interactions:
- request:
    method: get
    uri: https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID/events/59ad773d3d5dd500180a55a7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4d1ce90b90a3fab53c746c844018baf2"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59ad773d3d5dd500180a55a7","url":"https://api.bugsnag.com/events/59ad773d3d5dd500180a55a7","project_url":"https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID","is_full_report":true,"error_id":"59ad772267ea82001b89d5cf","received_at":"2017-09-04T15:54:37.000Z","exceptions":[{"error_class":"NoMethodError","message":"Unable
        to connect to database.","stacktrace":[{"column_number":123,"in_project":true,"line_number":1234,"method":"create","file":"controllers/auth/session_controller.rb","code":{"1231":"  def
        a","1232":"","1233":"    if problem?","1234":"      raise ''something went
        wrong''","1235":"    end","1236":"","1237":"  end"},"macho_uuid":null,"source_control_link":null,"source_control_name":null}]}],"threads":[{"id":"thread_id","name":"thread_name","stacktrace":[{"file":"controllers/auth/session_controller.rb","lineNumber":1234,"columnNumber":123,"method":"create","inProject":true,"code":{"1231":"  def
        a","1232":"","1233":"    if problem?","1234":"      raise ''something went
        wrong''","1235":"    end","1236":"","1237":"  end"},"before":null,"after":null,"machoUUID":null,"relativeAddress":null,"relativeSymbolAddress":null}]}],"metaData":{"pivot":{"key":2,"setOfKeys":{"key":123,"key2":12}}},"customDiagnostics":{},"request":{},"app":{"version":"1.1.3","releaseStage":"production","type":"rails"},"device":{"osVersion":"2.1.1","hostname":"web1.internal"},"user":{"id":"19","name":"Fake
        name","email":"simon@bugsnag.com"},"breadcrumbs":[],"context":"auth/session#create","severity":"error","derived":{"deploy":null}}'
  recorded_at: Wed, 06 Sep 2017 15:27:30 GMT
recorded_with: VCR 2.9.3
