---
http_interactions:
- request:
    method: get
    uri: https://api.bugsnag.com/release_groups/BUGSNAG_RELEASE_GROUP_ID/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      X-Bugsnag-Api:
      - 'true'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      Etag:
      - W/"5d40708836e0a05e40d26b81e9192067"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BUGSNAG_RELEASE_ID","project_id":"BUGSNAG_PROJECT_ID","release_group_id":"BUGSNAG_RELEASE_GROUP_ID","release_time":"2021-07-08T14:26:55+00:00","release_source":"event","app_version":"1.2.3","app_version_code":"","app_bundle_version":"","build_label":"1.2.3","builder_name":"","build_tool":"","errors_introduced_count":1,"errors_seen_count":1,"sessions_count_in_last_24h":0,"total_sessions_count":0,"unhandled_sessions_count":0,"accumulative_daily_users_seen":0,"accumulative_daily_users_with_unhandled":0,"metadata":{},"release_stage":{"name":"production"}}]'
  recorded_at: Wed, 21 Jul 2021 11:07:53 GMT
recorded_with: VCR 2.9.3
