---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations
    body:
      encoding: UTF-8
      string: '{"name":"testOrg"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      X-Bugsnag-Api:
      - 'true'
      Authorization:
      - Basic c3VwcG9ydEBidWdzbmFnLmNvbTpwYXNzd29yZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0f5910f39a2d2298b9baf2dfe3d3d654"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"id":"5a2fc302d1befa002881d599","name":"testOrg","slug":"testorg-8","creator":{"id":"5a1589f0d1befa47553ffd5f","name":"Bugsnag","email":"BUGSNAG_USER_EMAIL"},"created_at":"2017-12-12T11:52:34.802Z","updated_at":"2017-12-12T11:52:34.912Z","auto_upgrade":true,"upgrade_url":"https://api.bugsnag.com/settings/testorg-8/plans-billing?plansBilling%5Bstep%5D=collaborators-and-events","can_start_pro_trial":false,"pro_trial_ends_at":null,"billing_emails":["BUGSNAG_USER_EMAIL"]}'
  recorded_at: Tue, 12 Dec 2017 11:52:24 GMT
- request:
    method: delete
    uri: https://api.bugsnag.com/organizations/5a2fc302d1befa002881d599
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      X-Bugsnag-Api:
      - 'true'
      Authorization:
      - Basic c3VwcG9ydEBidWdzbmFnLmNvbTpwYXNzd29yZA==
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 12 Dec 2017 11:52:24 GMT
recorded_with: VCR 2.9.3
