---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations
    body:
      encoding: UTF-8
      string: '{"name":"testOrg"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - Basic ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7ae8f40beca1b3f60f526ffb1b02be32"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59b015ffbf058b002356b8e7","name":"testOrg","slug":"testorg-19","creator":{"id":"59ae67b68a0558001a351bcb","name":"AlexTestsM","email":"BUGSNAG_USER_EMAIL"},"created_at":"2017-09-06T15:36:32.010Z","updated_at":"2017-09-06T15:36:32.209Z","auto_upgrade":true,"upgrade_url":"https://api.bugsnag.com/settings/testorg-19/plans-billing?plansBilling%5Bstep%5D=collaborators-and-events","billing_emails":["BUGSNAG_USER_EMAIL"]}'
  recorded_at: Wed, 06 Sep 2017 15:36:33 GMT
- request:
    method: delete
    uri: https://api.bugsnag.com/organizations/59b015ffbf058b002356b8e7
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - Basic ***REMOVED***
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '4'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 06 Sep 2017 15:36:34 GMT
recorded_with: VCR 2.9.3
