---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations
    body:
      encoding: UTF-8
      string: '{"name":"testOrg"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - Basic YWxleCt0ZXN0QGJ1Z3NuYWcuY29tOkNvc21vcG9saXRhblBlYXNlbnQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"90306d8a4f8fd3a64a09698514dd967f"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59db85a0901da000201ed575","name":"testOrg","slug":"testorg-28","creator":{"id":"59ae67b68a0558001a351bcb","name":"AlexTestsM","email":"BUGSNAG_USER_EMAIL"},"created_at":"2017-10-09T14:20:16.064Z","updated_at":"2017-10-09T14:20:16.173Z","auto_upgrade":true,"upgrade_url":"https://api.bugsnag.com/settings/testorg-28/plans-billing?plansBilling%5Bstep%5D=collaborators-and-events","billing_emails":["BUGSNAG_USER_EMAIL"]}'
  recorded_at: Mon, 09 Oct 2017 14:20:16 GMT
- request:
    method: delete
    uri: https://api.bugsnag.com/organizations/59db85a0901da000201ed575
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - Basic YWxleCt0ZXN0QGJ1Z3NuYWcuY29tOkNvc21vcG9saXRhblBlYXNlbnQ=
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '2'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 09 Oct 2017 14:20:16 GMT
recorded_with: VCR 2.9.3
