---
http_interactions:
- request:
    method: get
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - Basic ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Total-Count:
      - '6'
      Etag:
      - W/"d7188516ffc9fadf8beab50cdb8e6b6b"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"59afc168bf058b0023562dae","slug":"testproject-6","name":"testProject","api_key":"de2d6996fd37e52179e58c4f41aad643","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-09-06T09:35:36.689Z","updated_at":"2017-09-06T09:35:36.689Z","errors_url":"https://api.bugsnag.com/projects/59afc168bf058b0023562dae/errors","events_url":"https://api.bugsnag.com/projects/59afc168bf058b0023562dae/events","url":"https://api.bugsnag.com/projects/59afc168bf058b0023562dae","html_url":"https://app.bugsnag.com/testorg-6/testproject-6","open_error_count":0,"collaborators_count":2,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false},{"id":"59afc13ebf058b001e56358a","slug":"testproject-5","name":"testProject","api_key":"54fcc98509c087b247ca8e57d85daa17","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-09-06T09:34:54.394Z","updated_at":"2017-09-06T09:34:54.394Z","errors_url":"https://api.bugsnag.com/projects/59afc13ebf058b001e56358a/errors","events_url":"https://api.bugsnag.com/projects/59afc13ebf058b001e56358a/events","url":"https://api.bugsnag.com/projects/59afc13ebf058b001e56[...]
