---
http_interactions:
- request:
    method: post
    uri: http://<BUGSNAG_LOGIN>:<BUGSNAG_PASSWORD>@api.bugsnag.com/accounts/<BUGSNAG_ACCOUNT_ID>/projects
    body:
      encoding: UTF-8
      string: '{"name":"Example"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.bugsnag.com/projects/5405303d646573a55900001e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8ed8cc783377b7a1d53ab17cb553a6cc"'
    body:
      encoding: UTF-8
      string: '{"id":"5405303d646573a55900001e","name":"Example","type":"other","created_at":"2014-09-02T02:49:33.887Z","updated_at":"2014-09-02T02:49:33.887Z","release_stages":[],"api_key":"8addb629c59a43640dc84c0e3fd8f64f","errors":0,"url":"https://api.bugsnag.com/projects/5405303d646573a55900001e","errors_url":"https://api.bugsnag.com/projects/5405303d646573a55900001e/errors","events_url":"https://api.bugsnag.com/projects/5405303d646573a55900001e/events","html_url":"http://bugsnag.dev/<BUGSNAG_ACCOUNT_ID>/example-46","icon":"http://bugsnag.dev/assets/frameworks/other.png"}'
  recorded_at: Tue, 02 Sep 2014 02:49:33 GMT
- request:
    method: delete
    uri: http://<BUGSNAG_LOGIN>:<BUGSNAG_PASSWORD>@api.bugsnag.com/projects/5405303d646573a55900001e
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 02 Sep 2014 02:49:34 GMT
recorded_with: VCR 2.9.2
