---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations
    body:
      encoding: UTF-8
      string: '{"name":"testOrg"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - Basic ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c7e4fcb8954d85a05b6ee6b067fcc035"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59b015fcd0e0b80023727ae7","name":"testOrg","slug":"testorg-18","creator":{"id":"59ae67b68a0558001a351bcb","name":"AlexTestsM","email":"BUGSNAG_USER_EMAIL"},"created_at":"2017-09-06T15:36:28.639Z","updated_at":"2017-09-06T15:36:29.486Z","auto_upgrade":true,"upgrade_url":"https://api.bugsnag.com/settings/testorg-18/plans-billing?plansBilling%5Bstep%5D=collaborators-and-events","billing_emails":["BUGSNAG_USER_EMAIL"]}'
  recorded_at: Wed, 06 Sep 2017 15:36:30 GMT
- request:
    method: patch
    uri: https://api.bugsnag.com/organizations/59b015fcd0e0b80023727ae7
    body:
      encoding: UTF-8
      string: '{"invoice_address":"test_string","name":"updated_name","auto_upgrade":false}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - Basic ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d42ae8a8b7494df2f158b392867fccea"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59b015fcd0e0b80023727ae7","name":"updated_name","slug":"updated-name-2","creator":{"id":"59ae67b68a0558001a351bcb","name":"AlexTestsM","email":"BUGSNAG_USER_EMAIL"},"created_at":"2017-09-06T15:36:28.639Z","updated_at":"2017-09-06T15:36:31.296Z","auto_upgrade":false,"upgrade_url":"https://api.bugsnag.com/settings/updated-name-2/plans-billing?plansBilling%5Bstep%5D=collaborators-and-events","billing_emails":["BUGSNAG_USER_EMAIL"]}'
  recorded_at: Wed, 06 Sep 2017 15:36:31 GMT
recorded_with: VCR 2.9.3
