---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations
    body:
      encoding: UTF-8
      string: '{"name":"testOrg"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - Basic ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"17b9414eb1d84ddffa5eedeff3b3cd81"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59db859cc1951b0021d5ddc8","name":"testOrg","slug":"testorg-26","creator":{"id":"59ae67b68a0558001a351bcb","name":"AlexTestsM","email":"BUGSNAG_USER_EMAIL"},"created_at":"2017-10-09T14:20:12.051Z","updated_at":"2017-10-09T14:20:12.149Z","auto_upgrade":true,"upgrade_url":"https://api.bugsnag.com/settings/testorg-26/plans-billing?plansBilling%5Bstep%5D=collaborators-and-events","billing_emails":["BUGSNAG_USER_EMAIL"]}'
  recorded_at: Mon, 09 Oct 2017 14:20:12 GMT
- request:
    method: patch
    uri: https://api.bugsnag.com/organizations/59db859cc1951b0021d5ddc8
    body:
      encoding: UTF-8
      string: '{"invoice_address":"test_string","name":"updated_name","auto_upgrade":false}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - Basic ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b6da0f25289ba17971be692b9c264ef5"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59db859cc1951b0021d5ddc8","name":"updated_name","slug":"updated-name-4","creator":{"id":"59ae67b68a0558001a351bcb","name":"AlexTestsM","email":"BUGSNAG_USER_EMAIL"},"created_at":"2017-10-09T14:20:12.051Z","updated_at":"2017-10-09T14:20:13.476Z","auto_upgrade":false,"upgrade_url":"https://api.bugsnag.com/settings/updated-name-4/plans-billing?plansBilling%5Bstep%5D=collaborators-and-events","billing_emails":["BUGSNAG_USER_EMAIL"]}'
  recorded_at: Mon, 09 Oct 2017 14:20:12 GMT
recorded_with: VCR 2.9.3
