---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations
    body:
      encoding: UTF-8
      string: '{"name":"testOrg"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - Basic ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3f464d130e63840630bbb4521e74b7f1"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59db859ec1951b0026d5a31c","name":"testOrg","slug":"testorg-27","creator":{"id":"59ae67b68a0558001a351bcb","name":"AlexTestsM","email":"BUGSNAG_USER_EMAIL"},"created_at":"2017-10-09T14:20:14.089Z","updated_at":"2017-10-09T14:20:14.187Z","auto_upgrade":true,"upgrade_url":"https://api.bugsnag.com/settings/testorg-27/plans-billing?plansBilling%5Bstep%5D=collaborators-and-events","billing_emails":["BUGSNAG_USER_EMAIL"]}'
  recorded_at: Mon, 09 Oct 2017 14:20:14 GMT
- request:
    method: get
    uri: https://api.bugsnag.com/organizations/59db859ec1951b0026d5a31c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - Basic ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3f464d130e63840630bbb4521e74b7f1"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59db859ec1951b0026d5a31c","name":"testOrg","slug":"testorg-27","creator":{"id":"59ae67b68a0558001a351bcb","name":"AlexTestsM","email":"BUGSNAG_USER_EMAIL"},"created_at":"2017-10-09T14:20:14.089Z","updated_at":"2017-10-09T14:20:14.187Z","auto_upgrade":true,"upgrade_url":"https://api.bugsnag.com/settings/testorg-27/plans-billing?plansBilling%5Bstep%5D=collaborators-and-events","billing_emails":["BUGSNAG_USER_EMAIL"]}'
  recorded_at: Mon, 09 Oct 2017 14:20:14 GMT
recorded_with: VCR 2.9.3
