---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations
    body:
      encoding: UTF-8
      string: '{"name":"testOrg"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - Basic ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f3441f3a8f92d38721f8bb5d3807c2a5"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59db4ef5c1951b0026d56df0","name":"testOrg","slug":"testorg-21","creator":{"id":"59ae67b68a0558001a351bcb","name":"AlexTestsM","email":"BUGSNAG_USER_EMAIL"},"created_at":"2017-10-09T10:27:01.516Z","updated_at":"2017-10-09T10:27:01.726Z","auto_upgrade":true,"upgrade_url":"https://api.bugsnag.com/settings/testorg-21/plans-billing?plansBilling%5Bstep%5D=collaborators-and-events","billing_emails":["BUGSNAG_USER_EMAIL"]}'
  recorded_at: Mon, 09 Oct 2017 10:27:03 GMT
- request:
    method: get
    uri: https://api.bugsnag.com/organizations/59db4ef5c1951b0026d56df0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - Basic ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f3441f3a8f92d38721f8bb5d3807c2a5"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59db4ef5c1951b0026d56df0","name":"testOrg","slug":"testorg-21","creator":{"id":"59ae67b68a0558001a351bcb","name":"AlexTestsM","email":"BUGSNAG_USER_EMAIL"},"created_at":"2017-10-09T10:27:01.516Z","updated_at":"2017-10-09T10:27:01.726Z","auto_upgrade":true,"upgrade_url":"https://api.bugsnag.com/settings/testorg-21/plans-billing?plansBilling%5Bstep%5D=collaborators-and-events","billing_emails":["BUGSNAG_USER_EMAIL"]}'
  recorded_at: Mon, 09 Oct 2017 10:27:04 GMT
recorded_with: VCR 2.9.3
