---
http_interactions:
- request:
    method: get
    uri: http://<BUGSNAG_LOGIN>:<BUGSNAG_PASSWORD>@api.bugsnag.com/events/<BUGSNAG_EVENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"72ad1efa31954277f4601c0c28085b43"'
    body:
      encoding: UTF-8
      string: '{"id":"<BUGSNAG_EVENT_ID>","received_at":"2014-09-01T21:10:28.000Z","context":"rake#test_exception","meta_data":{"App":{"releaseStage":"development","type":"rake"},"Device":{"hostname":"destroyer.local"},"Rake
        Task":{"arguments":null,"description":"Send a test exception to Bugsnag.","name":"bugsnag:test_exception"}},"severity":"warning","url":"https://api.bugsnag.com/events/<BUGSNAG_EVENT_ID>","html_url":"http://bugsnag.dev/test-account/example-dot-com/errors/<BUGSNAG_ERROR_ID>?event_id=<BUGSNAG_EVENT_ID>","exceptions":[{"class":"RuntimeError","message":"Bugsnag
        test exception","stacktrace":[{"file":"gems/rake-10.3.2/lib/rake/task.rb","line":240,"method":"call"},{"file":"gems/rake-10.3.2/lib/rake/task.rb","line":240,"method":"block
        in execute"},{"file":"gems/rake-10.3.2/lib/rake/task.rb","line":235,"method":"each"},{"file":"gems/rake-10.3.2/lib/rake/task.rb","line":235,"method":"execute"},{"file":"gems/rake-10.3.2/lib/rake/task.rb","line":179,"method":"block
        in invoke_with_call_chain"},{"file":"/Users/james/.rbenv/versions/2.0.0-p353/lib/ruby/2.0.0/monitor.rb","line":211,"method":"mon_synchronize"},{"file":"gems/rake[...]
