---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/projects
    body:
      encoding: UTF-8
      string: '{"name":"testProject","type":"other"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3cbdd22508f259ec229cc76ec6ebe62b"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59b01cc9d0e0b8001972ba0b","slug":"testproject-15","name":"testProject","api_key":"e3224debefc9fc1ee170e9e80877fdd3","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-09-06T16:05:29.230Z","updated_at":"2017-09-06T16:05:29.230Z","errors_url":"https://api.bugsnag.com/projects/59b01cc9d0e0b8001972ba0b/errors","events_url":"https://api.bugsnag.com/projects/59b01cc9d0e0b8001972ba0b/events","url":"https://api.bugsnag.com/projects/59b01cc9d0e0b8001972ba0b","html_url":"https://app.bugsnag.com/testorg-6/testproject-15","open_error_count":0,"collaborators_count":2,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Wed, 06 Sep 2017 16:05:29 GMT
recorded_with: VCR 2.9.3
