---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/projects
    body:
      encoding: UTF-8
      string: '{"name":"testProject","type":"other"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4052e7a4703ed04772f8d329b333d2e5"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59db8594562ced002210765c","slug":"testproject-21","name":"testProject","api_key":"384434dd535d5358f7386e399ec2007f","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-10-09T14:20:04.766Z","updated_at":"2017-10-09T14:20:04.766Z","errors_url":"https://api.bugsnag.com/projects/59db8594562ced002210765c/errors","events_url":"https://api.bugsnag.com/projects/59db8594562ced002210765c/events","url":"https://api.bugsnag.com/projects/59db8594562ced002210765c","html_url":"https://app.bugsnag.com/testorg-6/testproject-21","open_error_count":0,"collaborators_count":3,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Mon, 09 Oct 2017 14:20:04 GMT
recorded_with: VCR 2.9.3
