---
http_interactions:
- request:
    method: post
    uri: http://<BUGSNAG_LOGIN>:<BUGSNAG_PASSWORD>@api.bugsnag.com/accounts/<BUGSNAG_ACCOUNT_ID>/projects
    body:
      encoding: UTF-8
      string: '{"name":"Example"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.bugsnag.com/projects/5405303c646573a55900001a
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b4d21eefa68ec6cee2432340b79a0f40"'
    body:
      encoding: UTF-8
      string: '{"id":"5405303c646573a55900001a","name":"Example","type":"other","created_at":"2014-09-02T02:49:32.800Z","updated_at":"2014-09-02T02:49:32.800Z","release_stages":[],"api_key":"37d671bec6d4290b9c194d42749c16d9","errors":0,"url":"https://api.bugsnag.com/projects/5405303c646573a55900001a","errors_url":"https://api.bugsnag.com/projects/5405303c646573a55900001a/errors","events_url":"https://api.bugsnag.com/projects/5405303c646573a55900001a/events","html_url":"http://bugsnag.dev/<BUGSNAG_ACCOUNT_ID>/example-44","icon":"http://bugsnag.dev/assets/frameworks/other.png"}'
  recorded_at: Tue, 02 Sep 2014 02:49:32 GMT
recorded_with: VCR 2.9.2
