---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/projects
    body:
      encoding: UTF-8
      string: '{"name":"testProject","type":"other"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      X-Bugsnag-Api:
      - 'true'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"66efaa324eda86c1b0b02ed772ddac86"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"id":"5a2fc37fd1befa003981d5b9","slug":"testproject-9","name":"testProject","api_key":"8d884c18c157b78db019266b277daf9e","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-12-12T11:54:39.227Z","updated_at":"2017-12-12T11:54:39.227Z","errors_url":"https://api.bugsnag.com/projects/5a2fc37fd1befa003981d5b9/errors","events_url":"https://api.bugsnag.com/projects/5a2fc37fd1befa003981d5b9/events","url":"https://api.bugsnag.com/projects/5a2fc37fd1befa003981d5b9","html_url":"https://api.bugsnag.com/bugsnag/testproject-9","open_error_count":0,"collaborators_count":2,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Tue, 12 Dec 2017 11:54:28 GMT
recorded_with: VCR 2.9.3
