---
http_interactions:
- request:
    method: get
    uri: https://api.bugsnag.com/user/organizations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - Basic YWxleEBidWdzbmFnLmNvbTp6eE5HTUtIaE5ZdkRoV0RiTTR0YUxraVA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1d2f612168092162da68d366717172c7"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
    body:
      encoding: UTF-8
      string: '[{"id":"<BUGSNAG_ID>","name":"Bugsnag","slug":"bugsnag","creator":null,"created_at":"2012-12-02T05:54:21.635Z","updated_at":"2017-09-01T22:50:10.821Z","auto_upgrade":true,"upgrade_url":"https://api.bugsnag.com/settings/bugsnag/plans-billing?plansBilling%5Bstep%5D=collaborators-and-events","billing_emails":["<BUGSNAG_EMAIL>"]}]'
  recorded_at: Mon, 04 Sep 2017 07:44:43 GMT
recorded_with: VCR 2.9.3
