---
http_interactions:
- request:
    method: post
    uri: http://<BUGSNAG_LOGIN>:<BUGSNAG_PASSWORD>@api.bugsnag.com/errors/<BUGSNAG_ERROR_ID>/comments
    body:
      encoding: UTF-8
      string: '{"message":"Comment message"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.bugsnag.com/comments/5405303a646573a559000018
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"015aed163928df0b41709ebb43869cae"'
    body:
      encoding: UTF-8
      string: '{"id":"5405303a646573a559000018","message":"Comment message","created_at":"2014-09-02T02:49:30.000Z","user":{"id":"<BUGSNAG_USER_ID>","email":"<BUGSNAG_EMAIL>","name":"James
        Smith","gravatar_id":"8cbca651e77dc253a98e545590ed3387","gravatar_url":"https://secure.gravatar.com/avatar/8cbca651e77dc253a98e545590ed3387","url":"https://api.bugsnag.com/users/<BUGSNAG_USER_ID>","projects_url":"https://api.bugsnag.com/users/<BUGSNAG_USER_ID>/projects"},"url":"https://api.bugsnag.com/comments/5405303a646573a559000018"}'
  recorded_at: Tue, 02 Sep 2014 02:49:31 GMT
- request:
    method: delete
    uri: http://<BUGSNAG_LOGIN>:<BUGSNAG_PASSWORD>@api.bugsnag.com/comments/5405303a646573a559000018
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 02 Sep 2014 02:49:31 GMT
recorded_with: VCR 2.9.2
