---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/projects
    body:
      encoding: UTF-8
      string: '{"name":"testProject","type":"other"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      X-Bugsnag-Api:
      - 'true'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a718c58755261748996c427384415a78"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"id":"5a2fc37bd1befa003981d5b1","slug":"testproject-5","name":"testProject","api_key":"681f5e34a26d1a22ebf29d01ddb88958","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-12-12T11:54:35.950Z","updated_at":"2017-12-12T11:54:35.950Z","errors_url":"https://api.bugsnag.com/projects/5a2fc37bd1befa003981d5b1/errors","events_url":"https://api.bugsnag.com/projects/5a2fc37bd1befa003981d5b1/events","url":"https://api.bugsnag.com/projects/5a2fc37bd1befa003981d5b1","html_url":"https://api.bugsnag.com/bugsnag/testproject-5","open_error_count":0,"collaborators_count":2,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Tue, 12 Dec 2017 11:54:24 GMT
- request:
    method: get
    uri: https://api.bugsnag.com/projects/5a2fc37bd1befa003981d5b1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      X-Bugsnag-Api:
      - 'true'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a718c58755261748996c427384415a78"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"id":"5a2fc37bd1befa003981d5b1","slug":"testproject-5","name":"testProject","api_key":"681f5e34a26d1a22ebf29d01ddb88958","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-12-12T11:54:35.950Z","updated_at":"2017-12-12T11:54:35.950Z","errors_url":"https://api.bugsnag.com/projects/5a2fc37bd1befa003981d5b1/errors","events_url":"https://api.bugsnag.com/projects/5a2fc37bd1befa003981d5b1/events","url":"https://api.bugsnag.com/projects/5a2fc37bd1befa003981d5b1","html_url":"https://api.bugsnag.com/bugsnag/testproject-5","open_error_count":0,"collaborators_count":2,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Tue, 12 Dec 2017 11:54:25 GMT
recorded_with: VCR 2.9.3
