---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/projects
    body:
      encoding: UTF-8
      string: '{"name":"testProject","type":"other"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3f354d498328ab061a6abfff1c461f8d"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59db8590c1951b0026d5a314","slug":"testproject-18","name":"testProject","api_key":"58d7fa000f28c0a38170582e7fd320ce","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-10-09T14:20:00.572Z","updated_at":"2017-10-09T14:20:00.572Z","errors_url":"https://api.bugsnag.com/projects/59db8590c1951b0026d5a314/errors","events_url":"https://api.bugsnag.com/projects/59db8590c1951b0026d5a314/events","url":"https://api.bugsnag.com/projects/59db8590c1951b0026d5a314","html_url":"https://app.bugsnag.com/testorg-6/testproject-18","open_error_count":0,"collaborators_count":3,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Mon, 09 Oct 2017 14:19:59 GMT
- request:
    method: get
    uri: https://api.bugsnag.com/projects/59db8590c1951b0026d5a314
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3f354d498328ab061a6abfff1c461f8d"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59db8590c1951b0026d5a314","slug":"testproject-18","name":"testProject","api_key":"58d7fa000f28c0a38170582e7fd320ce","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-10-09T14:20:00.572Z","updated_at":"2017-10-09T14:20:00.572Z","errors_url":"https://api.bugsnag.com/projects/59db8590c1951b0026d5a314/errors","events_url":"https://api.bugsnag.com/projects/59db8590c1951b0026d5a314/events","url":"https://api.bugsnag.com/projects/59db8590c1951b0026d5a314","html_url":"https://app.bugsnag.com/testorg-6/testproject-18","open_error_count":0,"collaborators_count":3,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Mon, 09 Oct 2017 14:20:00 GMT
recorded_with: VCR 2.9.3
