---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/projects
    body:
      encoding: UTF-8
      string: '{"name":"testProject","type":"other"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"85911d834f376c98666e775db9d5e6ab"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59db4efc562ced00221047b9","slug":"testproject-16","name":"testProject","api_key":"23eab552cd68923b90e7cac98ac6c3a7","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-10-09T10:27:08.438Z","updated_at":"2017-10-09T10:27:08.438Z","BUGSNAG_EVENTFIELD_IDs_url":"https://api.bugsnag.com/projects/59db4efc562ced00221047b9/BUGSNAG_EVENTFIELD_IDs","events_url":"https://api.bugsnag.com/projects/59db4efc562ced00221047b9/events","url":"https://api.bugsnag.com/projects/59db4efc562ced00221047b9","html_url":"https://app.bugsnag.com/testorg-6/testproject-16","open_BUGSNAG_EVENTFIELD_ID_count":0,"collaborators_count":3,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_BUGSNAG_EVENTFIELD_IDs":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Mon, 09 Oct 2017 10:27:08 GMT
- request:
    method: get
    uri: https://api.bugsnag.com/projects/59db4efc562ced00221047b9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"85911d834f376c98666e775db9d5e6ab"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59db4efc562ced00221047b9","slug":"testproject-16","name":"testProject","api_key":"23eab552cd68923b90e7cac98ac6c3a7","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-10-09T10:27:08.438Z","updated_at":"2017-10-09T10:27:08.438Z","BUGSNAG_EVENTFIELD_IDs_url":"https://api.bugsnag.com/projects/59db4efc562ced00221047b9/BUGSNAG_EVENTFIELD_IDs","events_url":"https://api.bugsnag.com/projects/59db4efc562ced00221047b9/events","url":"https://api.bugsnag.com/projects/59db4efc562ced00221047b9","html_url":"https://app.bugsnag.com/testorg-6/testproject-16","open_BUGSNAG_EVENTFIELD_ID_count":0,"collaborators_count":3,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_BUGSNAG_EVENTFIELD_IDs":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Mon, 09 Oct 2017 10:27:09 GMT
recorded_with: VCR 2.9.3
