---
http_interactions:
- request:
    method: get
    uri: https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID/events/BUGSNAG_EVENT_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      X-Bugsnag-Api:
      - 'true'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c31d3b29e0b5d58647ea595a6a5ee69c"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"id":"BUGSNAG_EVENT_ID","url":"https://api.bugsnag.com/events/BUGSNAG_EVENT_ID","project_url":"https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID","is_full_report":true,"error_id":"BUGSNAG_ERROR_ID","received_at":"2017-12-12T10:58:55.000Z","exceptions":[{"error_class":"RuntimeError","message":"Error","stacktrace":[{"column_number":null,"in_project":null,"line_number":34,"method":"block
        (2 levels) in \u003cmain\u003e","file":"/Users/amoinet/Desktop/libraries/bugsnag-ruby/test.rb","code":{"31":"      sleep(interval)","32":"      #Bugsnag.session_tracker.create_session","33":"      if
        Random.rand \u003c error_chance","34":"        Bugsnag.notify RuntimeError.new(\"Error\")","35":"      end","36":"    end","37":"  end"},"macho_uuid":null,"source_control_link":null,"source_control_name":null}]}],"threads":[],"metaData":{"app":{"type":null}},"customDiagnostics":{},"request":{},"app":{"releaseStage":"production"},"device":{"hostname":"Alexanders-MacBook-Pro.local"},"user":{},"breadcrumbs":[],"context":"/Users/amoinet/Desktop/libraries/bugsnag-ruby/test.rb:34","severity":"warning","unhandled":false,"derived":{"deploy":null}}'
  recorded_at: Tue, 12 Dec 2017 11:55:17 GMT
recorded_with: VCR 2.9.3
