---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/collaborators
    body:
      encoding: UTF-8
      string: '{"project_ids":["BUGSNAG_PROJECT_ID"],"email":"BUGSNAG_COLLABORATOR_EMAIL"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aaf7e4a6e0a4d51862bb5fa8ffccfe3f"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59afc14140ab4d001de9d7f0","name":null,"email":"BUGSNAG_COLLABORATOR_EMAIL","two_factor_enabled":false,"two_factor_enabled_on":null,"password_updated_on":"2017-09-06T09:34:57.068Z","show_time_in_utc":true,"projects_url":"https://api.bugsnag.com/users/59afc14140ab4d001de9d7f0/projects","heroku":false,"recovery_codes_remaining":0,"is_admin":false,"pending_invitation":true,"last_request_at":null,"project_ids":[],"paid_for":false}'
  recorded_at: Thu, 05 Oct 2017 15:17:13 GMT
- request:
    method: get
    uri: https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID/collaborators
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Total-Count:
      - '3'
      Etag:
      - W/"904dc8ffdc41ae1b6ecfd589a159536f"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"59afb2e65710a800203768ab","name":null,"email":"\u003cbugsnag_collabortator_email\u003e","two_factor_enabled":false,"two_factor_enabled_on":null,"password_updated_on":"2017-09-06T08:33:42.545Z","show_time_in_utc":true,"projects_url":"https://api.bugsnag.com/users/59afb2e65710a800203768ab/pro[...]
