---
http_interactions:
- request:
    method: get
    uri: http://<BUGSNAG_LOGIN>:<BUGSNAG_PASSWORD>@api.bugsnag.com/users/<BUGSNAG_USER_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"605bcc250ebda765fc87a6401db995a1"'
    body:
      encoding: UTF-8
      string: '{"id":"<BUGSNAG_USER_ID>","email":"<BUGSNAG_EMAIL>","name":"James Smith","gravatar_id":"8cbca651e77dc253a98e545590ed3387","gravatar_url":"https://secure.gravatar.com/avatar/8cbca651e77dc253a98e545590ed3387","url":"https://api.bugsnag.com/users/<BUGSNAG_USER_ID>","projects_url":"https://api.bugsnag.com/users/<BUGSNAG_USER_ID>/projects"}'
  recorded_at: Tue, 02 Sep 2014 02:49:28 GMT
recorded_with: VCR 2.9.2
