---
http_interactions:
- request:
    method: get
    uri: https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Total-Count:
      - '1'
      Etag:
      - W/"c80a4c4d19c74e6fa3d019b244c7561d"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"59d60bc5daa959001ca38468","url":"https://api.bugsnag.com/events/59d60bc5daa959001ca38468","project_url":"https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID","is_full_report":false,"BUGSNAG_EVENTFIELD_ID_id":"BUGSNAG_ERROR_ID","receivedAt":"2017-10-05T10:39:01.000Z","exceptions":[{"BUGSNAG_EVENTFIELD_IDClass":"RuntimeError","message":"RuntimeError"}],"severity":"warning","context":"(irb):7","unhandled":null,"app":{"releaseStage":"production"}}]'
  recorded_at: Mon, 09 Oct 2017 13:07:10 GMT
recorded_with: VCR 2.9.3
