---
http_interactions:
- request:
    method: get
    uri: https://api.bugsnag.com/user/organizations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"25244a6e4ea84611ad4ce330decc9ab8"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BUGSNAG_ORG_ID","name":"testOrg","slug":"testorg-6","creator":{"id":"59844ed2a2ebdd0022a938d3","name":"Alexander
        Moinet","email":"alex@bugsnag.com"},"created_at":"2017-09-04T12:42:33.824Z","updated_at":"2017-10-05T15:18:35.100Z","auto_upgrade":true,"upgrade_url":"https://api.bugsnag.com/settings/testorg-6/plans-billing?plansBilling%5Bstep%5D=collaborators-and-events","billing_emails":["alex@bugsnag.com"]}]'
  recorded_at: Thu, 05 Oct 2017 15:19:18 GMT
recorded_with: VCR 2.9.3
