---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/collaborators
    body:
      encoding: UTF-8
      string: '{"project_ids":["BUGSNAG_PROJECT_ID"],"email":"BUGSNAG_COLLABORATOR_EMAIL"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      X-Bugsnag-Api:
      - 'true'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"255d0577e6c8680d496ee762c76194b3"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"id":"5a2fbf42d1befa003981d597","name":null,"email":"BUGSNAG_COLLABORATOR_EMAIL","two_factor_enabled":false,"two_factor_enabled_on":null,"BUGSNAG_PASSWORD_updated_on":"2017-12-12T11:36:34.635Z","show_time_in_utc":true,"projects_url":"https://api.bugsnag.com/users/5a2fbf42d1befa003981d597/projects","heroku":false,"recovery_codes_remaining":0,"is_admin":true,"pending_invitation":true,"last_request_at":null,"project_ids":["5a1589f1d1befa47553ffd64","5a1589f1d1befa47553ffd65","5a1589f1d1befa47553ffd66","5a1589f1d1befa47553ffd67","5a1589f1d1befa47553ffd68","5a1589f1d1befa47553ffd69","5a1589f1d1befa47553ffd6a","5a1589f1d1befa47553ffd6b","5a1589f1d1befa47553ffd6c","5a1589f1d1befa47553ffd6d","5a1589f1d1befa47553ffd6e","5a1589f1d1befa47553ffd6f","5a1589f2d1befa47553ffd70","5a1589f2d1befa47553ffd71","5a1589f2d1befa47553ffd72","5a1589f2d1befa47553ffd73","5a159805d1befa1899baacc2","5a159806d1befa1899baacc3","5a159806d1befa1899baacc4","5a159806d1befa1899baacc5","5a159806d1befa1899baacc6","BUGSNAG_PROJECT_ID","5a2fbf1fd1befa003981d594","5a2fbf20d1befa001781d582","5a2fbf21d1befa002881d592","5a2fbf22d1befa001781d585","5a2fc37bd1befa003981d5b1","5a2fc37dd1befa002881d59d","5a2fc37ed1befa003981d5b6","5a2fc37fd1befa003981d5b9"],"paid_for":false}'
  recorded_at: Tue, 12 Dec 2017 11:54:40 GMT
- request:
    method: get
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/collaborators/5a2fbf42d1befa003981d597
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      X-Bugsnag-Api:
      - 'true'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
[...]
