---
http_interactions:
- request:
    method: get
    uri: https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID/errors/BUGSNAG_ERROR_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1f9181cfb0d3b74882f2aea3e83df4c4"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"BUGSNAG_ERROR_ID","project_id":"BUGSNAG_PROJECT_ID","error_class":"RuntimeError","message":"Bugsnag
        Padrino demo says: It crashed! Go check bugsnag.com for a new notification!","context":"GET
        /crash","severity":"error","original_severity":"error","overridden_severity":null,"events":1,"unthrottled_occurrence_count":1,"users":1,"first_seen":"2017-10-09T14:18:25.000Z","last_seen":"2017-10-09T14:18:25.000Z","first_seen_unfiltered":"2017-10-09T14:18:25.000Z","last_seen_unfiltered":"2017-10-09T14:18:25.176Z","status":"fixed","created_issue":{},"reopen_rules":null,"assigned_collaborator_id":null,"comment_count":0,"missing_dsyms":[],"release_stages":["development"],"grouping_reason":"frame-inner","grouping_fields":{"file":"/Users/amoinet/Desktop/libraries/bugsnag-ruby/example/padrino/app/app.rb","lineNumber":74,"errorClass":"RuntimeError"},"url":"https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID/errors/BUGSNAG_ERROR_ID","project_url":"https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID"}'
  recorded_at: Mon, 09 Oct 2017 14:19:57 GMT
recorded_with: VCR 2.9.3
