---
http_interactions:
- request:
    method: get
    uri: https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID/errors/BUGSNAG_ERROR_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      X-Bugsnag-Api:
      - 'true'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"79ac1d207d5487d39404cdc2bea23a70"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"id":"BUGSNAG_ERROR_ID","project_id":"BUGSNAG_PROJECT_ID","error_class":"RuntimeError","message":"Error","context":"/Users/amoinet/Desktop/libraries/bugsnag-ruby/test.rb:34","severity":"warning","original_severity":"warning","overridden_severity":null,"events":475,"unthrottled_occurrence_count":475,"users":0,"first_seen":"2017-12-12T10:58:50.000Z","last_seen":"2017-12-12T10:58:55.000Z","first_seen_unfiltered":"2017-12-12T10:58:50.000Z","last_seen_unfiltered":"2017-12-12T10:58:55.648Z","status":"fixed","created_issue":{},"reopen_rules":null,"assigned_collaborator_id":null,"comment_count":14,"missing_dsyms":[],"release_stages":["production"],"grouping_reason":"frame-inner","grouping_fields":{"file":"/Users/amoinet/Desktop/libraries/bugsnag-ruby/test.rb","lineNumber":34,"errorClass":"RuntimeError"},"url":"https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID/errors/BUGSNAG_ERROR_ID","project_url":"https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID"}'
  recorded_at: Tue, 12 Dec 2017 11:55:02 GMT
recorded_with: VCR 2.9.3
