---
http_interactions:
- request:
    method: get
    uri: https://api.bugsnag.com/user/organizations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - Basic YWxleCt0ZXN0QGJ1Z3NuYWcuY29tOkNvc21vcG9saXRhblBlYXNlbnQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c5fc3bc319fdc2cd1b60be0eb55dcdaa"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"59afc173d0e0b8001e7223c2","name":"updated_name","slug":"updated-name-1","creator":{"id":"59ae67b68a0558001a351bcb","name":"Alex
        \"Test\" Moinet","email":"BUGSNAG_USER_EMAIL"},"created_at":"2017-09-06T09:35:47.328Z","updated_at":"2017-09-06T09:35:48.964Z","auto_upgrade":false,"upgrade_url":"https://api.bugsnag.com/settings/updated-name-1/plans-billing?plansBilling%5Bstep%5D=collaborators-and-events","billing_emails":["BUGSNAG_USER_EMAIL"]},{"id":"59afc171d0e0b8001972206b","name":"testOrg","slug":"testorg-15","creator":{"id":"59ae67b68a0558001a351bcb","name":"Alex
        \"Test\" Moinet","email":"BUGSNAG_USER_EMAIL"},"created_at":"2017-09-06T09:35:45.095Z","updated_at":"2017-09-06T09:35:45.203Z","auto_upgrade":true,"upgrade_url":"https://api.bugsnag.com/settings/testorg-15/plans-billing?plansBilling%5Bstep%5D=collaborators-and-events","billing_emails":["BUGSNAG_USER_EMAIL"]},{"id":"59afc16f40ab4d0027e9f94b"[...]
