---
http_interactions:
- request:
    method: get
    uri: https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID/releases?base=2021-07-21T12:00:00Z&offset=0&per_page=1&release_stage=development&sort=percent_of_sessions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      X-Bugsnag-Api:
      - 'true'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Total-Count:
      - '6'
      Link:
      - <https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID/releases?base=2021-07-21T12%3A00%3A00Z&offset=1&per_page=1&release_stage=development&sort=percent_of_sessions>;
        rel="next"
      Etag:
      - W/"4219c5fa74334a52d3a02a1deafb2524"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BUGSNAG_RELEASE_ID","project_id":"BUGSNAG_PROJECT_ID","release_group_id":"BUGSNAG_RELEASE_GROUP_ID","release_time":"2021-05-17T09:25:52+00:00","release_source":"session","app_version":"12.0.6","app_version_code":"","app_bundle_version":"","build_label":"12.0.6","builder_name":"","build_tool":"","errors_introduced_count":2,"errors_seen_count":2,"sessions_count_in_last_24h":0,"total_sessions_count":1,"unhandled_sessions_count":1,"accumulative_daily_users_seen":1,"accumulative_daily_users_with_unhandled":1,"metadata":{},"release_stage":{"name":"development"}}]'
  recorded_at: Wed, 21 Jul 2021 10:22:43 GMT
recorded_with: VCR 2.9.3
