---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/projects
    body:
      encoding: UTF-8
      string: '{"name":"testProject","type":"other"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"81c056380b4a6b34bf93d876b6240d16"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59b01cc3d0e0b8001e72b5ca","slug":"testproject-11","name":"testProject","api_key":"d5eea2e409f20889b5db402e6d843a5f","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-09-06T16:05:23.248Z","updated_at":"2017-09-06T16:05:23.248Z","errors_url":"https://api.bugsnag.com/projects/59b01cc3d0e0b8001e72b5ca/errors","events_url":"https://api.bugsnag.com/projects/59b01cc3d0e0b8001e72b5ca/events","url":"https://api.bugsnag.com/projects/59b01cc3d0e0b8001e72b5ca","html_url":"https://app.bugsnag.com/testorg-6/testproject-11","open_error_count":0,"collaborators_count":2,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Wed, 06 Sep 2017 16:05:23 GMT
- request:
    method: patch
    uri: https://api.bugsnag.com/projects/59b01cc3d0e0b8001e72b5ca
    body:
      encoding: UTF-8
      string: '{"name":"otherName"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"43f42bc310cb2d879c6b8764d0111137"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59b01cc3d0e0b8001e72b5ca","slug":"othername-2","name":"otherName","api_key":"d5eea2e409f20889b5db402e6d843a5f","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-09-06T16:05:23.248Z","updated_at":"2017-09-06T16:05:23.837Z","errors_url":"https://api.bugsnag.com/projects/59b01cc3d0e0b8001e72b5ca/errors","events_url":"https://api.bugsnag.com/projects/59b01cc3d0e0b8001e72b5ca/events","url":"https://api.bugsnag.com/projects/59b01cc3d0e0b8001e72b5ca","html_url":"https://app.bugsnag.com/testorg-6/othername-2","open_error_count":0,"collaborators_count":2,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Wed, 06 Sep 2017 16:05:24 GMT
recorded_with: VCR 2.9.3
