---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/projects
    body:
      encoding: UTF-8
      string: '{"name":"testProject","type":"other"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      X-Bugsnag-Api:
      - 'true'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6e906125889381351185c27cbfa63c2a"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"id":"5a2fc37dd1befa002881d59d","slug":"testproject-7","name":"testProject","api_key":"106ceb030be4439f114b3cd25de93868","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-12-12T11:54:37.561Z","updated_at":"2017-12-12T11:54:37.561Z","errors_url":"https://api.bugsnag.com/projects/5a2fc37dd1befa002881d59d/errors","events_url":"https://api.bugsnag.com/projects/5a2fc37dd1befa002881d59d/events","url":"https://api.bugsnag.com/projects/5a2fc37dd1befa002881d59d","html_url":"https://api.bugsnag.com/bugsnag/testproject-7","open_error_count":0,"collaborators_count":2,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Tue, 12 Dec 2017 11:54:26 GMT
- request:
    method: patch
    uri: https://api.bugsnag.com/projects/5a2fc37dd1befa002881d59d
    body:
      encoding: UTF-8
      string: '{"name":"otherName"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      X-Bugsnag-Api:
      - 'true'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"95dc67919f2d0df48dc2bfea2269fef6"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"id":"5a2fc37dd1befa002881d59d","slug":"othername-1","name":"otherName","api_key":"106ceb030be4439f114b3cd25de93868","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-12-12T11:54:37.561Z","updated_at":"2017-12-12T11:54:38.031Z","errors_url":"https://api.bugsnag.com/projects/5a2fc37dd1befa002881d59d/errors","events_url":"https://api.bugsnag.com/projects/5a2fc37dd1befa002881d59d/events","url":"https://api.bugsnag.com/projects/5a2fc37dd1befa002881d59d","html_url":"https://api.bugsnag.com/bugsnag/othername-1","open_error_count":0,"collaborators_count":2,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Tue, 12 Dec 2017 11:54:26 GMT
recorded_with: VCR 2.9.3
