---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/projects
    body:
      encoding: UTF-8
      string: '{"name":"testProject","type":"other"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a387d83a2ffbd2ca27141e532ac33c22"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59db8593c1951b0026d5a316","slug":"testproject-20","name":"testProject","api_key":"7e3bd84a2d0fc1ea9585561dcef8ba1b","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-10-09T14:20:03.469Z","updated_at":"2017-10-09T14:20:03.469Z","errors_url":"https://api.bugsnag.com/projects/59db8593c1951b0026d5a316/errors","events_url":"https://api.bugsnag.com/projects/59db8593c1951b0026d5a316/events","url":"https://api.bugsnag.com/projects/59db8593c1951b0026d5a316","html_url":"https://app.bugsnag.com/testorg-6/testproject-20","open_error_count":0,"collaborators_count":3,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Mon, 09 Oct 2017 14:20:02 GMT
- request:
    method: patch
    uri: https://api.bugsnag.com/projects/59db8593c1951b0026d5a316
    body:
      encoding: UTF-8
      string: '{"name":"otherName"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"60c5f7a909003b15a604b0b5bf6e46bf"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59db8593c1951b0026d5a316","slug":"othername-3","name":"otherName","api_key":"7e3bd84a2d0fc1ea9585561dcef8ba1b","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-10-09T14:20:03.469Z","updated_at":"2017-10-09T14:20:04.180Z","errors_url":"https://api.bugsnag.com/projects/59db8593c1951b0026d5a316/errors","events_url":"https://api.bugsnag.com/projects/59db8593c1951b0026d5a316/events","url":"https://api.bugsnag.com/projects/59db8593c1951b0026d5a316","html_url":"https://app.bugsnag.com/testorg-6/othername-3","open_error_count":0,"collaborators_count":3,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Mon, 09 Oct 2017 14:20:03 GMT
recorded_with: VCR 2.9.3
