---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/collaborators
    body:
      encoding: UTF-8
      string: '{"email":"BUGSNAG_COLLABORATOR_EMAIL"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eca67f6d4d1539baf9ad49d57ffbb90c"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59afc14140ab4d001de9d7f0","name":null,"email":"BUGSNAG_COLLABORATOR_EMAIL","two_factor_enabled":false,"two_factor_enabled_on":null,"password_updated_on":"2017-09-06T09:34:57.068Z","show_time_in_utc":true,"projects_url":"https://api.bugsnag.com/users/59afc14140ab4d001de9d7f0/projects","heroku":false,"recovery_codes_remaining":0,"is_admin":true,"pending_invitation":true,"last_request_at":null,"project_ids":["BUGSNAG_PROJECT_ID","59afb2f8d0e0b8001971def9","59afb2fad0e0b8001e71e05f","59afb2fbbf058b001e55ef61","59afc13ebf058b001e56358a","59afc168bf058b0023562dae","59b01c8cd0e0b8001972b987","59b01c8dd0e0b8001e72b5c8","59b01c8fd0e0b8001972b989","59b01cc3d0e0b8001e72b5ca","59b01cc4d0e0b80023727b93","59b01cc540ab4d001dea69ff","59b01cc9d0e0b8001972ba0b","59db4efc562ced00221047b9","59db858e562ced00271092cd","59db8590c1951b0026d5a314","59db8593c1951b0026d5a316","59db8594562ced002210765c"],"paid_for":false}'
  recorded_at: Mon, 09 Oct 2017 14:25:25 GMT
recorded_with: VCR 2.9.3
