---
http_interactions:
- request:
    method: get
    uri: http://<BUGSNAG_LOGIN>:<BUGSNAG_PASSWORD>@api.bugsnag.com/errors/<BUGSNAG_ERROR_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2c50a1e9532111895f48cd6d8ed4a85e"'
    body:
      encoding: UTF-8
      string: '{"id":"<BUGSNAG_ERROR_ID>","last_message":"Bugsnag test exception","class":"RuntimeError","occurrences":2,"release_stages":{"development":2},"last_context":"rake#test_exception","resolved":true,"first_received":"2014-09-01T21:10:28.000Z","last_received":"2014-09-01T21:10:44.625Z","severity":"warning","comments":27,"app_versions":{},"url":"https://api.bugsnag.com/errors/<BUGSNAG_ERROR_ID>","events_url":"https://api.bugsnag.com/errors/<BUGSNAG_ERROR_ID>/events","html_url":"http://bugsnag.dev/test-account/example-dot-com/errors/<BUGSNAG_ERROR_ID>","comments_url":"https://api.bugsnag.com/errors/<BUGSNAG_ERROR_ID>/comments"}'
  recorded_at: Tue, 02 Sep 2014 02:49:27 GMT
recorded_with: VCR 2.9.2
