---
http_interactions:
- request:
    method: patch
    uri: https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID/BUGSNAG_EVENTFIELD_IDs?BUGSNAG_EVENTFIELD_ID_ids=BUGSNAG_ERROR_ID
    body:
      encoding: UTF-8
      string: '{"severity":"warn","operation":"fix"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b605c3e88f97266a4e0b418ccfa0cc1f"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"operation":"fix","BUGSNAG_ERROR_ID":{"assigned_collaborator_id":null,"created_issue":{},"reopen_rules":null,"status":"fixed"}}'
  recorded_at: Mon, 09 Oct 2017 10:27:00 GMT
recorded_with: VCR 2.9.3
