---
http_interactions:
- request:
    method: patch
    uri: https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID/errors?error_ids=BUGSNAG_ERROR_ID
    body:
      encoding: UTF-8
      string: '{"severity":"warn","operation":"fix"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      X-Bugsnag-Api:
      - 'true'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"36be5c4a9dd391021b17f66a1c1562a8"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"operation":"fix","BUGSNAG_ERROR_ID":{"assigned_collaborator_id":null,"created_issue":{},"reopen_rules":null,"status":"fixed"}}'
  recorded_at: Tue, 12 Dec 2017 11:55:03 GMT
recorded_with: VCR 2.9.3
