---
http_interactions:
- request:
    method: get
    uri: https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID/errors/BUGSNAG_ERROR_ID/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Total-Count:
      - '8'
      Etag:
      - W/"ea28ba1529fca222b1cf442b9eb5ff2a"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BUGSNAG_EVENT_ID","url":"https://api.bugsnag.com/events/BUGSNAG_EVENT_ID","project_url":"https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID","is_full_report":false,"error_id":"BUGSNAG_ERROR_ID","receivedAt":"2017-09-04T15:54:37.000Z","exceptions":[{"errorClass":"NoMethodError","message":"Unable
        to connect to database."}],"severity":"error","context":"auth/session#create","app":{"releaseStage":"production"}},{"id":"59ad7739c56bc30018647e3d","url":"https://api.bugsnag.com/events/59ad7739c56bc30018647e3d","project_url":"https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID","is_full_report":false,"error_id":"BUGSNAG_ERROR_ID","receivedAt":"2017-09-04T15:54:33.000Z","exceptions":[{"errorClass":"NoMethodError","message":"Unable
        to connect to database."}],"severity":"error","context":"auth/session#create","app":{"releaseStage":"production"}},{"id":"59ad77336fcd89001829f116","url":"ht[...]
