---
http_interactions:
- request:
    method: post
    uri: http://<BUGSNAG_LOGIN>:<BUGSNAG_PASSWORD>@api.bugsnag.com/errors/<BUGSNAG_ERROR_ID>/comments
    body:
      encoding: UTF-8
      string: '{"message":"Comment message"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.bugsnag.com/comments/5405303a646573a559000017
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"cc35bfc88226e29edbccb543a5eca10a"'
    body:
      encoding: UTF-8
      string: '{"id":"5405303a646573a559000017","message":"Comment message","created_at":"2014-09-02T02:49:30.000Z","user":{"id":"<BUGSNAG_USER_ID>","email":"<BUGSNAG_EMAIL>","name":"James
        Smith","gravatar_id":"8cbca651e77dc253a98e545590ed3387","gravatar_url":"https://secure.gravatar.com/avatar/8cbca651e77dc253a98e545590ed3387","url":"https://api.bugsnag.com/users/<BUGSNAG_USER_ID>","projects_url":"https://api.bugsnag.com/users/<BUGSNAG_USER_ID>/projects"},"url":"https://api.bugsnag.com/comments/5405303a646573a559000017"}'
  recorded_at: Tue, 02 Sep 2014 02:49:30 GMT
- request:
    method: patch
    uri: http://<BUGSNAG_LOGIN>:<BUGSNAG_PASSWORD>@api.bugsnag.com/comments/5405303a646573a559000017
    body:
      encoding: UTF-8
      string: '{"message":"Example new message"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"978351df8eafd56c76c888a47087cca0"'
    body:
      encoding: UTF-8
      string: '{"id":"5405303a646573a559000017","message":"Example new message","created_at":"2014-09-02T02:49:30.000Z","user":{"id":"<BUGSNAG_USER_ID>","email":"<BUGSNAG_EMAIL>","name":"James
        Smith","gravatar_id":"8cbca651e77dc253a98e545590ed3387","gravatar_url":"https://secure.gravatar.com/avatar/8cbca651e77dc253a98e545590ed3387","url":"https://api.bugsnag.com/users/<BUGSNAG_USER_ID>","projects_url":"https://api.bugsnag.com/users/<BUGSNAG_USER_ID>/projects"},"url":"https://api.bugsnag.com/comments/5405303a646573a559000017"}'
  recorded_at: Tue, 02 Sep 2014 02:49:30 GMT
recorded_with: VCR 2.9.2
