---
http_interactions:
- request:
    method: get
    uri: http://<BUGSNAG_LOGIN>:<BUGSNAG_PASSWORD>@api.bugsnag.com/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"facc21368ac38d65f0dd83a86c6a9e79"'
    body:
      encoding: UTF-8
      string: '[{"id":"<BUGSNAG_ACCOUNT_ID>","name":"Test Account","created_at":"2014-09-01T20:52:32.048Z","updated_at":"2014-09-02T02:49:28.397Z","url":"https://api.bugsnag.com/accounts/<BUGSNAG_ACCOUNT_ID>","users_url":"https://api.bugsnag.com/accounts/<BUGSNAG_ACCOUNT_ID>/users","projects_url":"https://api.bugsnag.com/accounts/<BUGSNAG_ACCOUNT_ID>/projects","account_creator":{"id":"<BUGSNAG_USER_ID>","email":"<BUGSNAG_EMAIL>","name":"James
        Smith","gravatar_id":"8cbca651e77dc253a98e545590ed3387","gravatar_url":"https://secure.gravatar.com/avatar/8cbca651e77dc253a98e545590ed3387","url":"https://api.bugsnag.com/users/<BUGSNAG_USER_ID>","projects_url":"https://api.bugsnag.com/users/<BUGSNAG_USER_ID>/projects"},"billing_contact":null}]'
  recorded_at: Tue, 02 Sep 2014 02:49:32 GMT
recorded_with: VCR 2.9.2
