---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations
    body:
      encoding: UTF-8
      string: '{"name":"testOrg"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - Basic YWxleCt0ZXN0QGJ1Z3NuYWcuY29tOkNvc21vcG9saXRhblBlYXNlbnQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0447c583aa6f231d7a2421d7c06f531d"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59b015f9d0e0b8001972b95c","name":"testOrg","slug":"testorg-17","creator":{"id":"59ae67b68a0558001a351bcb","name":"AlexTestsM","email":"BUGSNAG_USER_EMAIL"},"created_at":"2017-09-06T15:36:25.865Z","updated_at":"2017-09-06T15:36:26.180Z","auto_upgrade":true,"upgrade_url":"https://api.bugsnag.com/settings/testorg-17/plans-billing?plansBilling%5Bstep%5D=collaborators-and-events","billing_emails":["BUGSNAG_USER_EMAIL"]}'
  recorded_at: Wed, 06 Sep 2017 15:36:27 GMT
- request:
    method: get
    uri: https://api.bugsnag.com/organizations/59b015f9d0e0b8001972b95c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - Basic YWxleCt0ZXN0QGJ1Z3NuYWcuY29tOkNvc21vcG9saXRhblBlYXNlbnQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0447c583aa6f231d7a2421d7c06f531d"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59b015f9d0e0b8001972b95c","name":"testOrg","slug":"testorg-17","creator":{"id":"59ae67b68a0558001a351bcb","name":"AlexTestsM","email":"BUGSNAG_USER_EMAIL"},"created_at":"2017-09-06T15:36:25.865Z","updated_at":"2017-09-06T15:36:26.180Z","auto_upgrade":true,"upgrade_url":"https://api.bugsnag.com/settings/testorg-17/plans-billing?plansBilling%5Bstep%5D=collaborators-and-events","billing_emails":["BUGSNAG_USER_EMAIL"]}'
  recorded_at: Wed, 06 Sep 2017 15:36:27 GMT
recorded_with: VCR 2.9.3
