---
http_interactions:
- request:
    method: post
    uri: http://<BUGSNAG_LOGIN>:<BUGSNAG_PASSWORD>@api.bugsnag.com/accounts/<BUGSNAG_ACCOUNT_ID>/projects
    body:
      encoding: UTF-8
      string: '{"name":"Example"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.bugsnag.com/projects/5405303e646573a559000020
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"335125519a0789b8c49d03846759ee5c"'
    body:
      encoding: UTF-8
      string: '{"id":"5405303e646573a559000020","name":"Example","type":"other","created_at":"2014-09-02T02:49:34.132Z","updated_at":"2014-09-02T02:49:34.132Z","release_stages":[],"api_key":"341518c5e3e53a6ba496e8b41557bd8b","errors":0,"url":"https://api.bugsnag.com/projects/5405303e646573a559000020","errors_url":"https://api.bugsnag.com/projects/5405303e646573a559000020/errors","events_url":"https://api.bugsnag.com/projects/5405303e646573a559000020/events","html_url":"http://bugsnag.dev/<BUGSNAG_ACCOUNT_ID>/example-47","icon":"http://bugsnag.dev/assets/frameworks/other.png"}'
  recorded_at: Tue, 02 Sep 2014 02:49:34 GMT
- request:
    method: get
    uri: http://<BUGSNAG_LOGIN>:<BUGSNAG_PASSWORD>@api.bugsnag.com/projects/5405303e646573a559000020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"335125519a0789b8c49d03846759ee5c"'
    body:
      encoding: UTF-8
      string: '{"id":"5405303e646573a559000020","name":"Example","type":"other","created_at":"2014-09-02T02:49:34.132Z","updated_at":"2014-09-02T02:49:34.132Z","release_stages":[],"api_key":"341518c5e3e53a6ba496e8b41557bd8b","errors":0,"url":"https://api.bugsnag.com/projects/5405303e646573a559000020","errors_url":"https://api.bugsnag.com/projects/5405303e646573a559000020/errors","events_url":"https://api.bugsnag.com/projects/5405303e646573a559000020/events","html_url":"http://bugsnag.dev/<BUGSNAG_ACCOUNT_ID>/example-47","icon":"http://bugsnag.dev/assets/frameworks/other.png"}'
  recorded_at: Tue, 02 Sep 2014 02:49:34 GMT
recorded_with: VCR 2.9.2
