---
http_interactions:
- request:
    method: get
    uri: http://<BUGSNAG_LOGIN>:<BUGSNAG_PASSWORD>@api.bugsnag.com/users/<BUGSNAG_USER_ID>/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.bugsnag.com/users/<BUGSNAG_USER_ID>/projects?direction=desc&offset=5404f2a364657377ae0000ad&per_page=30&sort=created_at>;
        rel="next"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"062bf83e35805172fb260f1eb1ad7d55"'
    body:
      encoding: UTF-8
      string: '[{"id":"5405303c646573a55900001a","name":"Example","type":"other","created_at":"2014-09-02T02:49:32.800Z","updated_at":"2014-09-02T02:49:32.800Z","release_stages":[],"api_key":"37d671bec6d4290b9c194d42749c16d9","errors":0,"url":"https://api.bugsnag.com/projects/5405303c646573a55900001a","errors_url":"https://api.bugsnag.com/projects/5405303c646573a55900001a/errors","events_url":"https://api.bugsnag.com/projects/5405303c646573a55900001a/events","html_url":"http://bugsnag.dev/<BUGSNAG_ACCOUNT_ID>/example-44","icon":"http://bugsnag.dev/assets/frameworks/other.png"},{"id":"54053013646573a55900000b","name":"Example","type":"other","created_at":"2014-09-02T02:48:51.151Z","updated_at":"2014-09-02T02:48:51.151Z","release_stages":[],"api_key":"de2eb797753512efa7df31fe769f3383","errors":0,"url":"https://api.bugsnag.com/projects/54053013646573a55900000b","errors_url":"https://api.bugsnag.com/projects/54053013646573a55900000b/errors","events_url":"https://api.bugsnag.com/projects/54053013646573a55900000b/events","ht[...]
