---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations
    body:
      encoding: UTF-8
      string: '{"name":"testOrg"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - Basic ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"acd0b96665eb0833526a894730e9084d"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59b01602d0e0b8001972b960","name":"testOrg","slug":"testorg-20","creator":{"id":"59ae67b68a0558001a351bcb","name":"AlexTestsM","email":"BUGSNAG_USER_EMAIL"},"created_at":"2017-09-06T15:36:34.900Z","updated_at":"2017-09-06T15:36:35.086Z","auto_upgrade":true,"upgrade_url":"https://api.bugsnag.com/settings/testorg-20/plans-billing?plansBilling%5Bstep%5D=collaborators-and-events","billing_emails":["BUGSNAG_USER_EMAIL"]}'
  recorded_at: Wed, 06 Sep 2017 15:36:36 GMT
recorded_with: VCR 2.9.3
