---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/projects
    body:
      encoding: UTF-8
      string: '{"name":"testProject","type":"other"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"30efc27d4e33b886fc56de26a60dc9e8"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59b01cc4d0e0b80023727b93","slug":"testproject-12","name":"testProject","api_key":"5683099e71b2ebad61d0952673c0913b","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-09-06T16:05:24.665Z","updated_at":"2017-09-06T16:05:24.665Z","errors_url":"https://api.bugsnag.com/projects/59b01cc4d0e0b80023727b93/errors","events_url":"https://api.bugsnag.com/projects/59b01cc4d0e0b80023727b93/events","url":"https://api.bugsnag.com/projects/59b01cc4d0e0b80023727b93","html_url":"https://app.bugsnag.com/testorg-6/testproject-12","open_error_count":0,"collaborators_count":2,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Wed, 06 Sep 2017 16:05:24 GMT
- request:
    method: get
    uri: https://api.bugsnag.com/projects/59b01cc4d0e0b80023727b93
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"30efc27d4e33b886fc56de26a60dc9e8"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59b01cc4d0e0b80023727b93","slug":"testproject-12","name":"testProject","api_key":"5683099e71b2ebad61d0952673c0913b","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-09-06T16:05:24.665Z","updated_at":"2017-09-06T16:05:24.665Z","errors_url":"https://api.bugsnag.com/projects/59b01cc4d0e0b80023727b93/errors","events_url":"https://api.bugsnag.com/projects/59b01cc4d0e0b80023727b93/events","url":"https://api.bugsnag.com/projects/59b01cc4d0e0b80023727b93","html_url":"https://app.bugsnag.com/testorg-6/testproject-12","open_error_count":0,"collaborators_count":2,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Wed, 06 Sep 2017 16:05:25 GMT
recorded_with: VCR 2.9.3
