---
http_interactions:
- request:
    method: get
    uri: https://api.bugsnag.com/user/organizations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      X-Bugsnag-Api:
      - 'true'
      Authorization:
      - Basic c3VwcG9ydEBidWdzbmFnLmNvbTpwYXNzd29yZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c98fd98dcd0023bb61ccbf5fccc6bcd0"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '[{"id":"5a2fc306d1befa003981d5ad","name":"testOrg","slug":"testorg-11","creator":{"id":"5a1589f0d1befa47553ffd5f","name":"Bugsnag","email":"BUGSNAG_USER_EMAIL"},"created_at":"2017-12-12T11:52:38.451Z","updated_at":"2017-12-12T11:52:38.541Z","auto_upgrade":true,"upgrade_url":"https://api.bugsnag.com/settings/testorg-11/plans-billing?plansBilling%5Bstep%5D=collaborators-and-events","can_start_pro_trial":false,"pro_trial_ends_at":null,"billing_emails":["BUGSNAG_USER_EMAIL"]},{"id":"5a2fc305d1befa003981d5a9","name":"updated_name","slug":"updated-name-2","creator":{"id":"5a1589f0d1befa47553ffd5f","name":"Bugsnag","email":"BUGSNAG_USER_EMAIL"},"created_at":"2017-12-12T11:52:37.340Z","updated_at":"2017-12-12T11:52:38.042Z","auto_upgrade":false,"upgrade_url":"https://api.bugsnag.com/settings/updated-name-2/plans-billing?plansBilling%5Bstep%5D=collaborators-and-events","can_start_pro_trial":false,"pro_trial_ends_at":null,"billing_emails":["BUGSNAG_[...]
