---
http_interactions:
- request:
    method: get
    uri: https://api.bugsnag.com/user/organizations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - Basic YWxleCt0ZXN0QGJ1Z3NuYWcuY29tOkNvc21vcG9saXRhblBlYXNlbnQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"84efad259d10c328e16c924ba91547ba"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"59b01602d0e0b8001972b960","name":"testOrg","slug":"testorg-20","creator":{"id":"59ae67b68a0558001a351bcb","name":"AlexTestsM","email":"BUGSNAG_USER_EMAIL"},"created_at":"2017-09-06T15:36:34.900Z","updated_at":"2017-09-06T15:36:35.086Z","auto_upgrade":true,"upgrade_url":"https://api.bugsnag.com/settings/testorg-20/plans-billing?plansBilling%5Bstep%5D=collaborators-and-events","billing_emails":["BUGSNAG_USER_EMAIL"]},{"id":"59b015fcd0e0b80023727ae7","name":"updated_name","slug":"updated-name-2","creator":{"id":"59ae67b68a0558001a351bcb","name":"AlexTestsM","email":"BUGSNAG_USER_EMAIL"},"created_at":"2017-09-06T15:36:28.639Z","updated_at":"2017-09-06T15:36:31.296Z","auto_upgrade":false,"upgrade_url":"https://api.bugsnag.com/settings/updated-name-2/plans-billing?plansBilling%5Bstep%5D=collaborators-and-events","billing_emails":["BUGSNAG_USER_EMAIL"]},{"id":"59b015f9d0e0b8001972b95c","na[...]
