---
http_interactions:
- request:
    method: get
    uri: https://api.bugsnag.com/user/organizations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - Basic ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c59f711b08d71e52c0163c7bcb4d92b3"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"59db81ef901da000251e91a9","name":"testOrg","slug":"testorg-25","creator":{"id":"59ae67b68a0558001a351bcb","name":"AlexTestsM","email":"BUGSNAG_USER_EMAIL"},"created_at":"2017-10-09T14:04:31.173Z","updated_at":"2017-10-09T14:04:31.273Z","auto_upgrade":true,"upgrade_url":"https://api.bugsnag.com/settings/testorg-25/plans-billing?plansBilling%5Bstep%5D=collaborators-and-events","billing_emails":["BUGSNAG_USER_EMAIL"]},{"id":"59db81ec901da000251e91a5","name":"updated_name","slug":"updated-name-3","creator":{"id":"59ae67b68a0558001a351bcb","name":"AlexTestsM","email":"BUGSNAG_USER_EMAIL"},"created_at":"2017-10-09T14:04:28.940Z","updated_at":"2017-10-09T14:04:30.519Z","auto_upgrade":false,"upgrade_url":"https://api.bugsnag.com/settings/updated-name-3/plans-billing?plansBilling%5Bstep%5D=collaborators-and-events","billing_emails":["BUGSNAG_USER_EMAIL"]},{"id":"59db81eac636d2001d8afaf7","na[...]
