---
http_interactions:
- request:
    method: get
    uri: https://api.bugsnag.com/BUGSNAG_EVENTFIELD_IDs/BUGSNAG_ERROR_ID/latest_event
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d8b5434ed385f1ef975359e2319aa455"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59d60bc5daa959001ca38468","url":"https://api.bugsnag.com/events/59d60bc5daa959001ca38468","project_url":"https://api.bugsnag.com/projects/BUGSNAG_PROJECT_ID","is_full_report":true,"BUGSNAG_EVENTFIELD_ID_id":"BUGSNAG_ERROR_ID","received_at":"2017-10-05T10:39:01.000Z","exceptions":[{"BUGSNAG_EVENTFIELD_ID_class":"RuntimeError","message":"RuntimeError","stacktrace":[{"column_number":null,"in_project":null,"line_number":7,"method":"irb_binding","file":"(irb)","code":null,"macho_uuid":null,"source_control_link":null,"source_control_name":null},{"column_number":null,"in_project":null,"line_number":86,"method":"eval","file":"/Users/amoinet/.rbenv/versions/2.2.2/lib/ruby/2.2.0/irb/workspace.rb","code":{"83":"","84":"    #
        Evaluate the given +statements+ within the  context of this workspace.","85":"    def
        evaluate(context, statements, file = __FILE__, line = __LINE__)","86":"      eval(statements,
        @binding, file, line)","87":"    end","88":"","89":"    # BUGSNAG_EVENTFIELD_ID
        message manipulator"},"[...]
