---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/projects
    body:
      encoding: UTF-8
      string: '{"name":"testProject","type":"other"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b2c8fde3ee1cc91cf29d6488d57dd083"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59db858e562ced00271092cd","slug":"testproject-17","name":"testProject","api_key":"a7e4f6e348a059f0722c189bfa063172","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-10-09T14:19:59.067Z","updated_at":"2017-10-09T14:19:59.067Z","errors_url":"https://api.bugsnag.com/projects/59db858e562ced00271092cd/errors","events_url":"https://api.bugsnag.com/projects/59db858e562ced00271092cd/events","url":"https://api.bugsnag.com/projects/59db858e562ced00271092cd","html_url":"https://app.bugsnag.com/testorg-6/testproject-17","open_error_count":0,"collaborators_count":3,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Mon, 09 Oct 2017 14:19:58 GMT
- request:
    method: delete
    uri: https://api.bugsnag.com/projects/59db858e562ced00271092cd/api_key
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b3b86fb44e5f534ec1d5c65de6e7b23a"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59db858e562ced00271092cd","slug":"testproject-17","name":"testProject","api_key":"76fc920d13137e7ab9740298e327f992","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-10-09T14:19:59.067Z","updated_at":"2017-10-09T14:20:00.006Z","errors_url":"https://api.bugsnag.com/projects/59db858e562ced00271092cd/errors","events_url":"https://api.bugsnag.com/projects/59db858e562ced00271092cd/events","url":"https://api.bugsnag.com/projects/59db858e562ced00271092cd","html_url":"https://app.bugsnag.com/testorg-6/testproject-17","open_error_count":0,"collaborators_count":3,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Mon, 09 Oct 2017 14:19:59 GMT
recorded_with: VCR 2.9.3
