---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/projects
    body:
      encoding: UTF-8
      string: '{"name":"testProject","type":"other"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33832d46acdc6bd259379c548bf49a9e"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59b01cc540ab4d001dea69ff","slug":"testproject-13","name":"testProject","api_key":"52a45aeb15add43205399b1dc047f329","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-09-06T16:05:25.920Z","updated_at":"2017-09-06T16:05:25.920Z","errors_url":"https://api.bugsnag.com/projects/59b01cc540ab4d001dea69ff/errors","events_url":"https://api.bugsnag.com/projects/59b01cc540ab4d001dea69ff/events","url":"https://api.bugsnag.com/projects/59b01cc540ab4d001dea69ff","html_url":"https://app.bugsnag.com/testorg-6/testproject-13","open_error_count":0,"collaborators_count":2,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Wed, 06 Sep 2017 16:05:26 GMT
- request:
    method: delete
    uri: https://api.bugsnag.com/projects/59b01cc540ab4d001dea69ff/api_key
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5a708bdf74eb390ad2f7ac9722a635e2"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"59b01cc540ab4d001dea69ff","slug":"testproject-13","name":"testProject","api_key":"b43cbea20e163b5c2a51971c3e913ae0","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-09-06T16:05:25.920Z","updated_at":"2017-09-06T16:05:27.105Z","errors_url":"https://api.bugsnag.com/projects/59b01cc540ab4d001dea69ff/errors","events_url":"https://api.bugsnag.com/projects/59b01cc540ab4d001dea69ff/events","url":"https://api.bugsnag.com/projects/59b01cc540ab4d001dea69ff","html_url":"https://app.bugsnag.com/testorg-6/testproject-13","open_error_count":0,"collaborators_count":2,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Wed, 06 Sep 2017 16:05:27 GMT
recorded_with: VCR 2.9.3
