---
http_interactions:
- request:
    method: post
    uri: https://api.bugsnag.com/organizations/BUGSNAG_ORG_ID/projects
    body:
      encoding: UTF-8
      string: '{"name":"testProject","type":"other"}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      X-Bugsnag-Api:
      - 'true'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1fa5dbcc17d8576d983efb0e7561460f"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"id":"5a2fc37ed1befa003981d5b6","slug":"testproject-8","name":"testProject","api_key":"f1f1c5c93f68ba30f364a3176414cc69","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-12-12T11:54:38.420Z","updated_at":"2017-12-12T11:54:38.420Z","errors_url":"https://api.bugsnag.com/projects/5a2fc37ed1befa003981d5b6/errors","events_url":"https://api.bugsnag.com/projects/5a2fc37ed1befa003981d5b6/events","url":"https://api.bugsnag.com/projects/5a2fc37ed1befa003981d5b6","html_url":"https://api.bugsnag.com/bugsnag/testproject-8","open_error_count":0,"collaborators_count":2,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Tue, 12 Dec 2017 11:54:27 GMT
- request:
    method: delete
    uri: https://api.bugsnag.com/projects/5a2fc37ed1befa003981d5b6/api_key
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Version:
      - '2'
      X-Bugsnag-Api:
      - 'true'
      Authorization:
      - token BUGSNAG_AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3f94f34e72fea6b248e66a46305069c3"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"id":"5a2fc37ed1befa003981d5b6","slug":"testproject-8","name":"testProject","api_key":"09e1f65d227e7e725ac76a8d8fed6fa5","type":"other","is_full_view":true,"release_stages":[],"language":null,"created_at":"2017-12-12T11:54:38.420Z","updated_at":"2017-12-12T11:54:38.829Z","errors_url":"https://api.bugsnag.com/projects/5a2fc37ed1befa003981d5b6/errors","events_url":"https://api.bugsnag.com/projects/5a2fc37ed1befa003981d5b6/events","url":"https://api.bugsnag.com/projects/5a2fc37ed1befa003981d5b6","html_url":"https://api.bugsnag.com/bugsnag/testproject-8","open_error_count":0,"collaborators_count":2,"global_grouping":[],"location_grouping":[],"discarded_app_versions":[],"discarded_errors":[],"custom_event_fields_used":0,"resolve_on_deploy":false}'
  recorded_at: Tue, 12 Dec 2017 11:54:27 GMT
recorded_with: VCR 2.9.3
